.gradient-background {
  background: linear-gradient(300deg, #A68D92, #14415B, #5DA7BB);
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
}

.gradient-background-2 {
  background: linear-gradient(300deg, #D3D3D4, #333c44, #212529);
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.img {
  border-radius: 50%;
}

.img-c {
  border-radius: 20%;
  border: 5px solid #212529;
}

.carousel-indicators {
  position: static;
}

.carousel-caption-top {
  position: relative;
  text-align: center;
  padding-bottom: 15px
}

img.img-c {
  width: auto !important; 
}

.p-j {
  text-align: justify;
}

@media (max-width: 768px) {
  .p-j {
    text-align: left;
    text-justify: auto;
  }

  img.img-c {
  width: 75% !important; 
  }

}